<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Ember Starter Kit</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
</head>

<body>

  <script type="text/x-handlebars">
    <div class="navbar">
      <div class="navbar-inner">
        {{#link-to 'index' class='brand'}}Bloggr{{/link-to}}
        <ul class="nav">
          <li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
          <li>{{#link-to 'about'}}About{{/link-to}}</li>
        </ul>
      </div>
    </div>
  </script>

  <div class="container">
    <script type="text/javascript" src="js/cono.js"></script>
    
    <form>
      <img id="imgC" src="http://eginsight.com/wordpress_images/coffee_cup.png"></img>
      <p>Click button below to move the image to right</p>
      <input type="button" value="Click Me" onclick="moveRight();" />
    </form>
  </div>



  <script src="js/libs/jquery-1.10.2.js"></script>
  <script src="js/libs/handlebars-1.1.2.js"></script>
  <script src="js/libs/ember-1.7.0.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
  <script src="js/app.js"></script>
  <!-- to activate the test runner, add the "?test" query string parameter -->
  <script src="tests/runner.js"></script>
</body>

</html>
